{% extends 'quiz/base.html' %}

{% block title %}
  Kayıt Ol - Kim Milyoner Olmak İster
{% endblock %}

{% block content %}
<h2>Kayıt Ol</h2>
<form method="POST">
  {% csrf_token %}
  <p>
    {{ form.username.label_tag }}<br>
    {{ form.username }}
  </p>
  <p>
    {{ form.first_name.label_tag }}<br>
    {{ form.first_name }}
  </p>
  <p>
    {{ form.last_name.label_tag }}<br>
    {{ form.last_name }}
  </p>
  <p>
    {{ form.email.label_tag }}<br>
    {{ form.email }}
  </p>
  <p>
    {{ form.password1.label_tag }}<br>
    {{ form.password1 }}
    <small class="form-text text-muted">
      Şifreniz en az 8 karakter, büyük harf, küçük harf, rakam ve özel karakter içermelidir.
    </small>
  </p>
  <p>
    {{ form.password2.label_tag }}<br>
    {{ form.password2 }}
    <small class="form-text text-muted">
      Şifrenizi doğrulayınız.
    </small>
  </p>
  <button type="submit" class="btn btn-success">Kayıt Ol</button>
</form>

<p class="mt-3">
  Zaten hesabınız var mı?
  <a href="{% url 'login' %}" class="btn btn-link">Giriş Yap</a>
</p>
{% endblock %}
